/* Estilo básico para los círculos */
.circle {
    display: inline-block;
    text-align: center;
    margin: 20px;
    padding: 20px;
    border-radius: 50%;
}

/* Círculo negro */
.circle.black {
    background-color: black;
    color: white;
    width: 200px;
    height: 200px;
}

/* Círculo rojo */
.circle.red {
    background-color: red;
    color: white;
    width: 200px;
    height: 200px;
}

/* Círculo amarillo */
.circle.yellow {
    background-color: yellow;
    width: 200px;
    height: 200px;
}

/* Círculo verde */
.circle.green {
    background-color: green;
    color: white;
    width: 200px;
    height: 200px;
}

.circle img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

button {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
}

button:hover {
    background-color: #f1f1f1;
}

/* Sección de contenido */
.content {
    margin-left: 270px; /* Espacio para la barra lateral */
    padding: 20px;
}

/* Sección activa */
.section.active {
    display: block;
}

.hidden {
    display: none;
}